@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body
{
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
    margin-top: -20px;
    margin-bottom: -20px;
    background-image: url("/static/assets/starrynight.jpg");
    background-attachment: fixed;
}
.nav
{
    background-color: white;
    list-style: none;
    text-align: center;
    padding: 20px 0 0px 0;
    padding-top: 30px;
    border-bottom: 5px solid green;
}
margin-top
{
    color: white;
}
li
{
    display: inline-block;
    padding-top: 10px;
    padding-right: 50px;
    font-size: medium;
}
#a
{
    display: block;
    padding-right: 50px;
    border-radius: 8px;
    padding-bottom: 20px;
}

#b
{
    color : #E9B000;
    padding-bottom: 45px;
}
#bigger
{
    font-size: 18px;
    color: black;
    padding-bottom: 45px;
    text-transform: lowercase;
}
#bigger:hover
{
    border-top: 5px solid black;
    transform-origin: right;
    transition: all ease-in-out 200ms;
}
#white
{
    margin: auto;
    width: 70%;
    background-color: white;
}
#center
{
    text-transform: uppercase;
    text-align: center;
    font-family: verdana;
    background-color: rgb(255, 242, 172);
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}
#smaller
{
    width: 85%;
    font-family: courier;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 20px;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; /* don't forget to set a duration! */
}
/*
Adding the keyframes for the 'bounce' declaration,
very important.
*/
@keyframes bounce{
  20%,50%,80%,to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-15px);
    }
    70%{
        transform: translateY(-10px);
    }
    90%{
        transform: translateY(-2px);
    }
}
#cs50
{
  text-align: center;
  height: 50%;
  width: 50%;
  display: block;
  margin: 0 auto;

}
#picture1
{
  text-align: center;
  height: 50%;
  width: 50%;
  display: block;
  margin: 0 auto;
}
#header
{
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  color: black;
  padding-bottom: 25px;
}
#card
{
  padding: 20px;
  margin-right: 20px;
  width: 50%;
  margin: auto;
  background-color: #9999FF;
  display: block;
  justify-content: center;
}
.centera
{
  text-align: center;
  font-size: 20px;
  font-family: courier;
  padding-top: 10px;
  padding-bottom: 10px;
}
#bangalore
{
  padding: 10px 0 25px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  height: 30%;
  width: 30%;
}
#textbelow
{
  padding-bottom: 25px;
  text-align: center;
  font-family: helvetica;
  font-weight: 1000;
  font-size: 15px;
  text-shadow: 2px 2px 4px #000000;
  color: #FFCE00;
}
#copyrights
{
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
#articlebutton
{
  /*
  Adding display, centering as well as making the edges a bit rounded.
  */
  display: block;
  margin: auto;
  border-radius: 2px;
}
#article
{
  /*
  Making the height and width appropriate, centering and converting
  to block element.
  */
  margin: 0px;
  width: 695px;
  height: 398px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.dot {
  /*
  Making the dot small, with a little bit of margin, background
  color set to gray, block display(in-lin) and transition.
  Presents a nice looking dot.
  */
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#init
{
  background-image: url("/static/assets/starrynight.jpg");
  background-attachment: fixed;
}
#whitea
{
    margin: auto;
    width: 50%;
    background-color: white;
    background-image: url("/static/assets/replace_mario.png");
    background-attachment: fixed;
}
/*
Adding a separate class, cause this one has to be different
from the normal class.
*/
#font
{
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 20px;
  text-align: center;
}
#medium
{
  display: block;
  margin: auto;
}
.helvetica
{
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
  font-family: helvetica;
  text-align: center;
}
#white-large
{
  /*
  Block level element
  */
  display: block;
  margin: auto;
  background-color: white;
  width: 60%;
}
.grid-container{
  margin: auto;
  width: 50%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* Set Row height */
  grid-auto-rows: 150px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}
white-large:hover{
  box-shadow: rgba(58, 59, 69, 0.35) 0px 0px 70px 6px;
}
.text-for-img{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.img-onhover:hover{
  -webkit-box-shadow: 0px -2px 23px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -2px 23px 2px rgba(0,0,0,0.75);
  box-shadow: 0px -2px 23px 2px rgba(0,0,0,0.75);
}