{% extends "index.html" %}
{% block title %}
    My Blog Posts
{% endblock %}
<link href="style.css" rel="stylesheet">
{% block body %}
<div id="init">
    <ul class = "nav">
        <a href="/"><li id="a"><img src="/static/assets/download.png"></li></a>
        <li><a href="/aboutme" selected id="bigger">About me</a></li>
        <li><a href="/blogposts" id="bigger">Blog Posts</a></li>
        <li><a href="/contact" id="bigger">Contact me</a></li>
        <li id="b">Made by @delivey and @abhishekshahane.</li>
    </ul>
    <h1 class="helvetica">My Blogposts!</h1>
    <div id="card">
        <a href="/blogposts/cs50x" id="header">My experience with CS50x, and how I learned to program</a>
        <p class="centera">Date released: 10 July 2020</p>
        <img src="/static/assets/cs50.jpg" id="picture1">
    </div>
    <br></br>
    <br></br>
    <div id="card">
        <a href="/blogposts/book" id="header">My first Model UN: What I learned and why I'd recommend it.</a>
        <p class="centera">Date released: 19th January 2021</p>
        <center>
            <img src="/static/assets/mun.jpg" id="cs50">
        </center>
    </div>
    <br></br>
    <div id="card">
        <h3 id="font">External Articles:  </h3>
        <a href="https://medium.com/@nintendo.spy123/how-you-can-create-your-very-own-blog-just-like-i-did-7b41fa16971c" id="header">How you can create your very own blog, just like I did. Based in Medium.</a>
        <p class="centera">Date released: 10 August 2020</p>
        <img src="/static/assets/medium.png" id="medium" style="height: 50%;width:50%;">
    </div>
    <br></br>

    <br></br>
</div>
{% endblock %}
