{% extends "index.html" %}
{% block title %}
Book
{% endblock %}
<link href="/static/style.css" rel="stylesheet">
{% block body %}
<ul class = "nav">
    <a href="/"><li id="a"><img src="/static/assets/download.png"></li></a>
    <li><a href="/aboutme" selected id="bigger">About me</a></li>
    <li><a href="/blogposts" id="bigger">Blog Posts</a></li>
    <li><a href="/contact" id="bigger">Contact me</a></li>
    <li id="b">Made by @AbhishekShahane</li>
</ul>
<h1 id="center">Why I'd recommend Model UN.</h1>
<div id="white">
	<p id="smaller">This is some text.</p>
</div>
{% endblock %}
