{% extends "index.html" %}
{% block title %}
Book
{% endblock %}
<link href="/static/style.css" rel="stylesheet">
{% block body %}
<ul class = "nav">
    <li id="a"><img src="/static/assets/download.png"></li>
    <li><a href="/aboutme" selected id="bigger">About me</a></li>
    <li><a href="/blogposts" id="bigger">Blog Posts</a></li>
    <li><a href="/contact" id="bigger">Contact me</a></li>
    <li id="b">Made by @AbhishekShahane</li>
</ul>
<h1 id="center">Why I'd recommend Model UN.</h1>
<div id="white">
	<p id="smaller"><b><i>Yes, Yes, I know. I must apologize, since this blog post is long overdue, and I didn’t have enough time to write. I was feeling bad about not writing, so I decided to start 2021 off on a good note by writing this blogpost. Anyway, now that that’s finished, let’s get straight into the post.</i></b></p>
    <br></br>
    <p id="smaller">The first thing I should say about Model UN, is that in a word, it is <b>life-changing</b>. It doesn’t just ask you to memorise facts, but understand the logical application of them as well. This is why there are special committees(at least in my MUN), such as Ad-Hoc, where you have very little time to research, and you are armed with nothing but your brain and your wits. Of course, this doesn’t mean that you shouldn’t research at all, but that you need logical backing to support it. That being said, let me diverge from all of this for a second, now that you got a gist of what I’ll be talking about later. The reason being is because this blog-post isn’t going to be what Model UN is about, but some key-takeaways from it.
    </p>
    <br></br>
    <p id="smaller">My first takeaway from Model UN is this: Read your country’s foreign policy carefully. I’ve made the mistake of not reading it at all, and read it last minute, so I didn’t have a great understanding of it. Read it as early as possible, so you can decide which countries you want to form your bloc with. This could deeply impact your MUN experience.
    </p>
    <br></br>
    <p id="smaller">My second takeaway from Model UN is this: Research is key. Wits can get you only so far in a debate, but for the rest, you need research to back your claims up. This is very important, so you can be prepared to speak during any moderated caucus, even if you haven’t written a script.</p>
    <br></br>
    <p id="smaller">Lastly, my final take away from Model UN is this:  Write out a couple speeches. Even if you have researched thoroughly on your country, writing out your first few speeches is important. In those speeches, focus on your most important points. Adding on to that, writing out your most important points can allow you to change them, making them more convincing, or well-said.
    </p>
    <br></br>

</div>
{% endblock %}
