{% extends "index.html" %}
{% block title %}
    Contact me!
{% endblock %}
<link href="style.css" rel="stylesheet">
{% block body %}
<ul class = "nav">
    <li id="a"><img src="/static/assets/download.png"></li>
    <li><a href="/aboutme" selected id="bigger">About me</a></li>
    <li><a href="/blogposts" id="bigger">Blog Posts</a></li>
    <li><a href="/contact" id="bigger">Contact me</a></li>
    <li id="b">Made by @abhishekshahane.</li>
</ul>
<h1 id="center">How to Contact me!</h1>
<br></br>
<h3 class="text-for-img">Click on the respective pictures to see my accounts.</h3>
<br></br>

<div class="grid-container">
    <div class="img-onhover">
        <center>
            <a href="mailto: nintendo.spy123@gmail.com">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/1280px-New_Logo_Gmail.svg.png" style="height: 55%; width: 60%; padding-top: 15%;text-align: center;">
            </a>
        </center>
    </div>
    <div class="img-onhover">
        <center>
            <a href="https://www.reddit.com/user/DabTheEpic">
                <img src="https://external-preview.redd.it/iDdntscPf-nfWKqzHRGFmhVxZm4hZgaKe5oyFws-yzA.png?auto=webp&s=38648ef0dc2c3fce76d5e1d8639234d8da0152b2" style="height: 55%; width: 60%;padding-top: 10%;text-align: center;">
            </a>
        </center>
    </div>
    <div class="img-onhover">
        <center>
            <a href="https://github.com/abhishekshahane">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="height: 75%; width: 75%;padding-top: 5%;text-align: center;">
            </a>
        </center>
    </div>
    <div class="img-onhover">
        <center>
            <a href="http://discordapp.com/users/702553513926066229">
                <img src="https://seeklogo.com/images/D/discord-logo-134E148657-seeklogo.com.png" style="height: 50%; width: 65%;padding-top: 10%;text-align: center;">
            </a>
        </center>
    </div>
</div>

<br></br>
<div id="whitea">
    <style>
        #btn
        {
            display: block;
            margin: auto;
            min-height: 100px;
            width: 50%;
        }
    </style>
    <script src="/static/main.js"></script>
    <h3 style="text-align: center; font-family: courier;">Just for fun, I included one of the first JavaScript games I made, a click test.</h3>
    <button id="btn" onclick="a()">Click me!</button>
     <span style="text-align: center; display: block; padding-top: 20px; font-weight: bold; font-family: courier;" id="countdown">You have 30 seconds left.</span>
    <br></br>
    <span style="text-align: center; display: block; font-weight: bold; font-family: courier;" id="count">0 clicks</span>
    <h3 style="text-align: center;">Here, your goal is to click as fast as you can for thirty seconds.</h3>
</div>
{% endblock %}
