{% extends "index.html" %}
{% block title %}
    Contact me!
{% endblock %}
<link href="style.css" rel="stylesheet">
<link rel="icon" href="download.png">
{% block body %}
<ul class = "nav">
    <li id="a"><img src="/static/assets/download.png"></li>
    <li><a href="/aboutme" selected id="bigger">About me</a></li>
    <li><a href="/blogposts" id="bigger">Blog Posts</a></li>
    <li><a href="/contact" id="bigger">Contact me</a></li>
    <li id="b">Made by @abhishekshahane.</li>
</ul>
<h1 id="center">How to Contact me!</h1>
<table class="blueTable">
<thead>
<tr>
<th>Gmail</th>
<th>&nbsp;Discord</th>
<th>&nbsp;Reddit</th>
</tr>
</thead>
<tfoot>
<tr>
<td colspan="3">&nbsp;</td>
</tr>
</tfoot>
<tbody>
<tr>
<td id="Email">nintendo.spy123@gmail.com</td>
<td id="Discord">probcodingorwatchingtheofficeUS#1158</td>
<td id="Reddit">u/DabTheEpic</td>
</tr>
</tbody>
</table>
<br></br>
<br></br>
<div id="whitea">
    <style>
        #btn
        {
            display: block;
            margin: auto;
            height: 100px;
            width: 200px;
        }
    </style>
    <script src="/static/main.js"></script>
    <h3 style="text-align: center;">Just for fun, I included one of the first JavaScript games I made, a click test.</h3>
    <button id="btn" onclick="a()">Click me!</button>
     <span style="text-align: center; display: block; padding-top: 20px; font-weight: bold;" id="countdown">You have 30 seconds left.</span>
    <br></br>
    <span style="text-align: center; display: block; font-weight: bold;" id="count">0 clicks</span>
    <h3 style="text-align: center;">Here, your goal is to click as fast as you can for thirty seconds.</h3>
</div>
{% endblock %}
