{% extends "index.html" %}
{% block title %}
{% extends "index.html" %}
{% block title %}
CS50x
{% endblock %}
<link href="/static/style.css" rel="stylesheet">
{% block body %}
<ul class = "nav">
    <a href="/"><li id="a"><img src="/static/assets/download.png"></li></a>
    <li><a href="/aboutme" selected id="bigger">About me</a></li>
    <li><a href="/blogposts" id="bigger">Blog Posts</a></li>
    <li><a href="/contact" id="bigger">Contact me</a></li>
    <li id="b">Made by @AbhishekShahane</li>
</ul>
<h1 id="center">My CS50x Experience, and how I learned to program</h1>
<div id="white">
	<p id="smaller">CS50x. The broad range of emotions you go through when you're taking  Harvard’s online CS50x class are kind of unexplainable, in a way. It gave me my love for computer science though, and I had a great time doing it. From the very first problem set, there was always an element of surprise: what you knew and what you did not know, combined into one problem set. The problem sets were not easy, and they did give me a fair set of challenges. However, this article isn't going to talk about the problem sets. It is going to talk about my experience taking CS50x, from start to finish.</p>
	<br></br>
	<p id="smaller">It all started with seeing a character hacking in a movie. It made me wonder if I could do that. I was pretty sure computer science wasn't going to be like that, and I had done some programming before. But thanks to the terrible, dry curriculum of computer science that awaited me at school, I hated it. I mean, seriously. Computer science was introduced to us as a subject where people say the word 'logic' a lot, and solve problems which don’t require using your brain. I can’t speak for all schools, but at least this is how it is at mine. </p>
	<br></br>
	<p id="smaller">The first three weeks came as a big surprise to me because of that; we tackled problems based on algorithms and arrays, with the first problem set being a fun little Mario game, where we had to print little hashtag pyramids based on user input. I realized that computer science is so much more than programming. It needs to be supplemented with logic, pseudo code and so much more. The weeks that followed were a complete blur, and confusion started to kick in faster than a cheetah. How? Why? What? This stage became much more intense, and I was forced to spend hours brainstorming possible solutions to the problem in my head.</p>
	<br></br>
	<p id="smaller">This is when I turned to Reddit, and the r/cs50 community helped me immensely. It got me back on my feet. After sleepless nights and my brain crashing, I finally progressed to week 7. A giant relief for me. After that everything became much more clear, and I knew what my strength was: It was web developing. I embarked on my final project, hoping to build a beautiful website, and luckily I found a teammate who would help me. Thanks to that, I am now the author of Schoolvid19, which I built using Flask, HTML and CSS, with my fellow teammate @t0dd, whom you can find on Discord. </p>
	<br></br>
	<p id="smaller">In conclusion, CS50 helped me find a part of me which I had never known, and I am forever grateful. Quoting Professor David J. Malan, "What ultimately matters in this course is not so much where you end up relative to your classmates, but where you end up relative to yourself." Looking at this quote, I realised how coding has changed my whole outlook on CS, and I think I've definitely come a long way from where I was.</p>
{% endblock %}

